<div class="row justify-content-center">
    <div class="col-md-2">
        <div class="jumbotron pad">
          <h3 class="text-center">Nuevo Juego</h3>
          <br>
          <form>
              <div class="row">
                <div class="col form-group">
                  <label>Nivel</label>
                    <select class="form-control">
                      <option>Facil --> (5x5) 4 minas</option>
                      <option>Medio --> (8x8) 10 minas</option>
                      <option>Dificil --> (12x12) 20 minas</option>
                    </select>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                    <button type="button" class="btn btn-primary">Comenzar</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>